#slider{
    margin: 50px 0;
}
.product-zone{
    background-color: #f8fafc;
}
.form-category{
    display: none;
}
.category{
    background-color: #f8fafc;
    border-radius: 2px;
}
.category__heading{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}
.category__heading:hover{
    color: var(--header-color-1);
    cursor: pointer;
}
.category-list{
    padding:0 0 8px 0;
    list-style: none;
}
.category-item{
    position: relative;
}
.category-item:first-child::before{
    display: none;
}
.category-item::before{
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 20px;
    right:20px;
}
.category-item--active .category-item__link{
    color: var(--header-color-1);
    
}
.category-item__link{
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 7px 20px;
    display: block;
}
.category-item__link:hover{
    color: var(--header-color-1);
}


.category-show:hover{
    color: var(--header-color-1);
    cursor: pointer;
}
/* fillter in category */


.cate-fillter-name{

    font-weight: 500;
    padding: 16px 16px 0;
    color: #727272;

}
.cate-fillter-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

/* Home filter */
.home-filter__label{
    font-weight: 600;
    font-size: 17px;
    padding-right: 15px;
}
.home-filter__option{
    padding-right: 15px;
}

.form-filter-product{
    display: flex;
}
.form-filter-select{
    display: none;
}
/* show product */
.show-product{
    min-height: 700px;
}
.home-product{
    margin-bottom: 20px;
}
.home-product-item{
    display: block;
    margin-top: 10px;
    position: relative;
    text-decoration: none;
    border-radius:10px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform ease-in .1s;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position:top center;
}
.home-product-item__name{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.3rem;
    height: 2.6rem;
    margin: 10px 10px 6px;
    /* Hiện dấu 3 chấm nếu conten dài quá 2 dòng */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

}
.home-product-item__price{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.home-product-item__price-old{
    color: #666;
    margin-left: 10px;
    /* Phần dấu gạch giá cũ*/
    font-size: 1rem;
    text-decoration: line-through;
    align-items: baseline;
}
.home-product-item__price-current{
    color: var(--header-color-1);
    font-size: 1.2rem;
    margin-left: 10px;
}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-top-left-radius:  3px;
    font-weight: 500;
    color: var(--header-color-1);
    background-color: currentColor;
}
.home-product-item__favourite i{
    font-size: 0.8rem;   
    margin: 0 2px 0 5px;      
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left:3px solid transparent;
    /* làm mờ đi nhưng vẫn giữa màu thẻ chủ đạo */
    filter: brightness(60%);
}
.navigation-block{
    margin-top: 20px;
}
